@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    height: 100vh;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
 


/*  */

/* background animation */

.wrapper span {
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    z-index: -1;
    background-color: #18191f;
    box-shadow: 0 0 50px #0072ff,
                0 0 100px #0072ff,
                0 0 150px #0072ff,
                0 0 200px #0072ff;
    animation: animate 10s linear infinite;   
}
.wrapper span:nth-child(1) {
    left: 60px;
    animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
    left: 10%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
}

.wrapper span:nth-child(3) {
    left: 20%;
    animation-delay: 2s;
}
.wrapper span:nth-child(4) {
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
}
.wrapper span:nth-child(5) {
    left: 40%;
    animation-delay: 1s;
}
.wrapper span:nth-child(6) {
    left: 50%;
    animation-delay: 7s;
}
.wrapper span:nth-child(7) {
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
}
.wrapper span:nth-child(8) {
    left: 70%;
    animation-delay: 8s;
}
.wrapper span:nth-child(9) {
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
}
.wrapper span:nth-child(10) {
    left: 90%;
    animation-delay: 4s;
}

.banner {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes animate {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        opacity: .7;
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }

}


/* Calculator Logic */

.container {
    backdrop-filter: blur(20px);
    border-radius: 8px;
    padding: 25px;
    border: 2px ;
    box-shadow: 0px 0px 20px cyan;
    /* position: absolute; */
    top: 6px;
    Left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0,0,0,0.6);       /* if commented background then it becomes colourful */
    z-index: 1;

}

.converter {

    display: flex;
    flex-direction: column;
    gap: 10px;
    

}

input,select, button {
    padding: 10px;
    font-size: 19px;
    font-weight:530;
    border: 2px solid #cccc;
    border-radius: 3px;
}

button {
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
   
}
button:hover {
    background-color: #0033ff;
}

#result {

    margin-top: 10px;
    font-size: 19px;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(8, 234, 159, 0.082);
    text-align: center;
}

/* Glowing Border Animation */


.glow::before, .glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg,#e6fb04,#ff6600,#ff0066,#00ff66,#00ffff,#ff00ff,#ff0099,#6a0dd0,#099fff,#f7f77f);
    background-size: 400%;
    width:100%;
    height: calc(100% + 4px);
    z-index: -3;
    animation: anim 50s linear infinite;
}

@keyframes anim
{
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 400% 0;
    }
    100%
    {
        background-position: 0 0;
    }
} 


.glow::after ,.glow::before  {
    filter: blur(20px);
}
